<div class="mx-auto">
  <h1 class="text-xl mb-6">Log in</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mt-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="field mt-3">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mt-3">
        <%= f.check_box :remember_me, class: "form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions mt-3 mb-3">
      <%= f.submit "Log in", class: "bg-blue-600 text-white rounded-lg py-3 px-5 cursor-pointer inline-block font-medium text-center w-full md:w-auto hover:no-underline" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
