<div id="<%= dom_id jewel %>" class="mt-6">
  <p class="text-xl"><%= jewel.name %></p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Version:</strong>
    <%= jewel.version %>
  </p>

  <p class="my-5">
    <strong class="font-medium mb-1">Url:</strong>
    <%= link_to "Github", jewel.url, target: :blank, class: "text-blue-800 hover:underline" %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= jewel.description %>
  </p>
</div>
