<div id="<%= dom_id jewel %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= jewel.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Version:</strong>
    <%= jewel.version %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= jewel.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= jewel.description %>
  </p>

</div>
